#heading{
    text-align: center;
    padding-top: 8rem;
    font-size: 4rem;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace
}

pre{
    text-align: center;
    font-size: 1rem;
    margin: 0rem 8rem;
}

img{
   text-align: center;
   padding-left: 200px;
}